/* input.form-control, .year-input {
    border-radius: 30px;
} */

.timeInput .react-datepicker-wrapper .react-datepicker__input-container input {
    border-radius: 30px;
    height: 35px;
    text-align: center;
    background: #f0f0f0;
}
.react-datepicker--time-only .react-datepicker__time-container {
    width: 100%;

}

.css-j204z7-MuiFormControlLabel-root {
    width: 190px !important;
    margin-right: 0px !important;
}

.css-1nrlq1o-MuiFormControl-root {
 width: 100%;
}

.timeInput .react-datepicker-wrapper .react-datepicker__input-container input::placeholder {
    font-size: 15px;
    text-align: center;
}

.timeInput .react-datepicker-wrapper .react-datepicker__input-container input:focus {
    border: 1px solid #ccc;

}
